
{%  extends "base.html" %}
{% load staticfiles %}

{% block style %}
<link href="{% static 'css/doctor.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cancer Patient Lifestyle Diary</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <a class="nav-item nav-link" href="#">Settings</a>
          <a class="nav-item nav-link" href="#">Help</a>
        </nav>
        <form class="pull-xs-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </nav>

 <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <h1>
                Hello!
            </h1>
   <form>

  <div class="form-group">
    <div class="form-group">
    <label for="exampleDiagnosis">Diagnosis:</label>
         <label for="exampleID">Breast Cancer</label>
    </div>

    <label for="exampleFats">Progress(wks)4/10</label>

    <div for="exampleDiet" action="{% url 'log' %}" method="POST">Diet (# servings)
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> </th>
                  <th>Recommended</th>
                    <th>Actual</th>
                </tr>
                </thead>
              <tbody>
                <tr>
                  <td> <label name="fruit">Fruit</label></td>
                  <td>5</td>
        <td><select class="form-control" id="exampleSelect1" name="fruit-option">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
                  
                </tr>
                  
                  <tr>
                  <td> <label name="vegetable">Vegetable</label></td>
                  <td>5</td>
        <td><select class="form-control" id="exampleSelect1" name="vegetable-option">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
                  
                </tr>

        
        
           <tr>
                  <td> <label name="grain">Grain</label></td>
                  <td>3</td>
        <td><select class="form-control" id="exampleSelect1" name="grain-option">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
                  
                </tr>
        
           <tr>
                  <td> <label name="dairy">Dairy</label></td>
                  <td>2</td>
        <td><select class="form-control" id="exampleSelect1" name="dairy-option">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
                  
                </tr>
        
           <tr>
                  <td> <label name="protein">Portein</label></td>
                  <td>2</td>
        <td><select class="form-control" id="exampleSelect1" name="protein-option">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
                  
                </tr>
        
           <tr>
                  <td> <label name="fat">Fat</label></td>
                  <td>1</td>
        <td><select class="form-control" id="exampleSelect1" name="fat-option">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
                  
                </tr>
                </tbody></table>
          </div>
    
   <label for="exampleDiet">Activity (min)</label>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> </th>
                  <th>Recommended</th>
                    <th>Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> <label for="exampleFruit">Light</label></td>
                  <td>30</td>
                    <td><input type="lname" class="form-control" id="exampleFirstNAme" aria-describedby="emailHelp" placeholder="min" name="light"></td></tr>
                    
                <tr>
                  <td> <label for="exampleFruit">Medium</label></td>
                  <td>30</td>
                    <td><input type="lname" class="form-control" id="exampleFirstNAme" aria-describedby="emailHelp" placeholder="min" name="medium"></td></tr>
                  <tr>
                  <td> <label for="exampleFruit">Vigorous</label></td>
                  <td>30</td>
                      <td><input type="lname" class="form-control" id="exampleFirstNAme" aria-describedby="emailHelp" placeholder="min" name="vigorous"></td></tr></tbody></table></div>
 
  <div class="form-group">
    <label for="exampleTextarea">Pain</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="pain"></textarea>
  </div>
        
    <label for="exampleFats">Severity</label>
        <select class="form-control" id="exampleSelect1" name="severity">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
        </div>

        <input type="submit" value="Submit">
    </div>

       </form></div></div></div>
  {% endblock %}