{%  extends "base.html" %}
{% load staticfiles %}

{% block style %}
<link href="{% static 'css/doctor.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cancer Patient Lifestyle Diary</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <a class="nav-item nav-link" href="#">Profile</a>
          <a class="nav-item nav-link" href="#">Settings</a>
          <a class="nav-item nav-link" href="#">Help</a>
        </nav>
        <form class="pull-xs-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
          <h1>Hello, Doctor!</h1>

          <h2>List of Patients</h2>
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-sm">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Created Date</th>
                  <th>Modified Date</th>
                </tr>
              </thead>
              <tbody>
            {% if patient_list %}
                {% for patient in patient_list %}
                    <a href="doctor-individual-diagnosis.html"><tr>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.created }}</td>
                        <td>{{ patient.modified }}</td>
                    </tr></a>
                {% endfor %}
            {% else %}
                <p>No patients are available.</p>
            {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}