{%  extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <form action="{% url 'register' %}" method="POST">

        {% csrf_token %}

        <input type="text" placeholder="Username" name="username">

        <input type="password" placeholder="Password" name="password">
        <select name="type">
            <option value="doctor">Doctor</option>
            <option value="patient">Patient</option>
        </select>

        <input type="submit" value="Register">

    </form>

{% endblock %}