{%  extends "base.html" %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <select name="type">
            <option value="doctor">Doctor</option>
            <option value="patient">Patient</option>
        </select>
        <input type="submit" value="Register">
    </form>
{% endblock %}